.btn-group
  .btn.dropdown-toggle(data-toggle="dropdown")
    - if @project
      - unless @project.name.nil?
        = link_to @project.name, @project
      - else
        = link_to "project name", root_path
    - else
      = link_to "project name", root_path
    %span.caret
  - if current_user.projects.present?
    %ul.dropdown-menu
      - current_user.projects.each do |project|
        %li= link_to project, project
